.additional-info h4,
.attached-imgs h4{
	font-weight: 700;
	font-size: 1.75rem;
	margin-bottom: 20px;
	line-height: 2.7rem;
	border-bottom: 1px solid #3a45621f;
}
.additional-info{
	margin-top: 50px;
}
.additional-info__employment h5,
.additional-info__benefits h5{
	font-size: 1.125rem;
	margin-bottom: 10px;
}
.additional-info__benefits h5{
	margin-top: 15px;
}
.additional-info__employment ul,
.additional-info__benefits ul{
	display: flex;
	flex-wrap: wrap;
}
.additional-info__employment ul li,
.additional-info__benefits ul li{
	flex: 1 1 31.333%;
	max-width: 32.333%;
	font-size: 1rem;
	font-weight: 700;
	padding: 17px 4px;
	text-align: center;
	color: #55699E;
	background: rgba(161, 177, 219, 0.317343);
	border: 1px solid rgba(85, 105, 158, 0.3);
	border-radius: 8px;
	margin-bottom: 8px;
	margin-right: 8px;
}
.additional-info__employment ul li:nth-child(3n+3),
.additional-info__benefits ul li:nth-child(3n+3){
	margin-right: 0px;
}
.additional-info__benefits ul li{
	background: rgba(255, 207, 0, 0.15);
	border: 1px solid #FFCF00;
	border-radius: 8px;
	color: #988B49;
}
.attached-imgs{
	margin-top: 78px;
	overflow: hidden;
}
.attached-imgs ul{
	display: flex;
	margin: 0px -4px;
	flex-direction: row;
	
}
.attached-imgs ul li{
	padding: 0px 4px;
	margin-bottom: 8px;
	max-height: 133px;
	flex: 1 1 33.333%;
	min-width: 33.333;
	transition: transform 1s;
}
.attached-imgs ul li img{
	display: block;
	height: 100%;
	object-fit: cover;
	width: 100%;
	border-radius: 8px;
}
.attached-imgs__btns{
	display: none;
}

@media (max-width:748px){
	.additional{
		display: flex;
		flex-direction: column-reverse;
	}
}
@media (max-width:638px){
	.attached-imgs ul li{
		min-height: 133px;
		min-width: 200px;
		margin-bottom: 0px;
	}
	.additional-info h4{
		width: 82%;
		border-bottom: 1px solid #3a45621f;
	}
}
@media (max-width:626px){
	.attached-imgs__btns{
		display: block;
		margin-left: 15%;
	}
	.attached-imgs__btns button{
		background-color: transparent;
	}
	.attached-imgs__btns button .bi-arrow-left{
		margin-right: 15px;
	}
	.attached-imgs__btns button .bi-arrow-left::before,
	.attached-imgs__btns button .bi-arrow-right::before{
		color: #3a4562e6;
		font-size: 28px;
	}
	.attached-imgs__btns button:hover .bi-arrow-left::before,
	.attached-imgs__btns button:hover .bi-arrow-right::before{
		color: rgba(73, 80, 16, 0.871);
		transition: color 0.3s;
	}
}