.cardd{
	display: flex;
	flex-direction: row;
	margin: 0px -5px;
}
.cardd__info{
	display: flex;
	flex-direction: row;
	flex: 1 1 70%;
	padding: 0px 5px;
}
.cardd__info-img{
	min-width: 85px;
	height: 85px;
}
.cardd__info-img img{
	display: block;
	min-width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 45px;
}
.cardd__info-common{
	padding-left: 25px;
	max-width: 792px;
}
.cardd__info-common h2{
	color: #3A4562;
	font-weight: 700;
	font-size: 1.25rem;
}
.cardd__info-common div{
	color: #878D9D;
	margin-top: 8px;
}
.cardd__info-common div .bi-geo-alt-fill::before{
	color: #D8D8D8;
	margin-right: 8px;
}

.cardd__icons{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	flex: 1 1 30%;
	margin: 0px -15px;
	padding: 0px 5px;
}
.cardd__icons-stars,
.cardd__icons-posted{
	padding: 0px 15px;
}
.cardd__icons-stars{
	align-self: center;
}
.cardd__icons-stars .bi-star-fill{
	color: #878D9D;
	margin-right: 2px;
}
.cardd__icons-stars .bi-star-fill:hover{
	color: #38415D;
}
.cardd__icons-stars .star-selected{
	color: #38415D;
}
.cardd__icons-posted{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cardd__icons-posted-bookmark{
	align-self: end;
	color: #70778B;
	position: relative;
}
.cardd__icons-posted-bookmark .bi-bookmark-fill{
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}
.cardd__icons-posted-bookmark .bi-bookmark-fill:hover{
	opacity: 1;
	transition: all 0.4s ease-in-out;
}
.cardd__icons-posted span{
	color: #878D9D;
	text-align: right;
}
@media (max-width:1112px) {
	.cardd__info{
		flex: 1 1 70%;
	}
	.cardd__icons{
		flex: 1 1 auto;
	}
}
@media (max-width:1055px){
	.cardd__info{
		flex: 1 1 65%;
	}
}
@media (max-width:956px) {
	.cardd__info{
		flex: 1 1 65%;
	}
	.cardd__icons{
		flex: 1 1 35%;
	}
	.cardd__icons{
		margin: 0px -5px;
	}
	.cardd__icons-stars,
	.cardd__icons-posted{
		padding: 0px 5px;
	}
}
@media (max-width:826px){
	.cardd__info{
		flex: 1 1 55%;
	}
}
@media (max-width:748px){
	.cardd{
		display: flex;
		flex-direction: column-reverse;
	}
	.cardd__icons{
		margin-bottom: 17px;
		justify-content: space-between;
		align-items: flex-end;
	}
	.cardd__icons-stars{
		margin-left: 85px;
	}
	.cardd__icons-posted{
		flex-direction: row-reverse;
		font-size: 0.875rem;
	}
	.cardd__icons-posted span{
		margin-right: 15px;
	}
	.cardd__info-common {
		padding-left: 18px;
	}
	.cardd__info-img{
		min-width: 65px;
		height: 65px;
	}
	.cardd__info-common h2{
		font-size: 1.125rem;
		font-weight: 400;
	}
	.cardd__icons-stars .bi-star-fill::before{
		font-size: 10px;
	}
}
@media (max-width:403px){
	.cardd__info-common {
		padding-left: 10px;
	}
	.cardd__icons-stars{
		margin-left: 73px;
		width: 70px;
	}
	.cardd__icons-posted span {
		margin-right: 10px;
	}
	.cardd__icons-posted-bookmark{
		display: flex;
	}
	.cardd__icons-posted-bookmark{
		display: flex;
		align-self: center;
	}
}