.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.page{
	display: flex;
	flex-direction: column;
}

.container-board{
	max-width: 1430px;
	padding: 0px 15px;
	margin: 0px auto;
}
.container-detailed{
	max-width: 1285px;
	padding: 0px 15px;
	margin: 0px auto;
}

.router-link a{
	text-decoration: none;
	color: unset!important;
}

.main{
	flex: 1 1 auto;
}
